@import "./themes.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(var(--slate-950));
    color: rgb(var(--slate-100));
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(var(--slate-900));
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--slate-600));
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--slate-500));
  }
}
