fastapi==0.111.0
uvicorn[standard]==0.30.1
websockets>=13.0
httpx==0.27.0
redis==5.0.4
psycopg2-binary==2.9.9
gqlalchemy==1.6.0
pydantic==2.7.1
python-dotenv==1.0.1
loguru==0.7.2
prometheus-client==0.20.0
numpy<2.0.0
pandas
yfinance
arch
jsonschema
scipy
pytest
